
.full-width-grid {
    --content-max-width: 1500px;
    display: grid;
    grid-template-columns:
    [full-width-start] minmax(2rem, 1fr)
    [content-start]  min(100% - 4rem, var(--content-max-width)) [content-end]
    minmax(2rem, 1fr) [full-width-end];
    margin-top: 100px;
    color: white;
    align-items: center;
    background-image: url('imgs/report-header.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */

}

.full-width-grid > *{
    grid-column: content;
}

.header-content{
    grid-column: content-start / content-end;
    max-width: var(--content-max-width);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 0.2rem;
    align-items: center;

}

.report-grid{
    --content-max-width: 1500px;
    display: grid;
    grid-template-columns:
    [full-width-start] minmax(2rem, 1fr)
    [content-start]  min(100% - 4rem, var(--content-max-width)) [content-end]
    minmax(2rem, 1fr) [full-width-end];
    /*border: 1px solid red;*/
    /*padding: 20px ;*/
    /*min(540px,1250px)
    border-collapse: collapse;*/
}
.report-grid > *{
    grid-column: content;
}

.search button{
    background: #f1f1f1;
    cursor: pointer;
    outline: none;
    border: 1px solid grey;
    border-radius: 0.3rem;
}

:root {
    --clr-primary-400: 263 55% 52%;
    --clr-secondary-400: 217 19% 35%;
    --clr-secondary-500: 219 29% 14%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;

    --ff-primary: "Barlow Semi Condensed", sans-serif;

    --fw-400: 500;
    --fw-700: 600;

    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}



/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {

    place-content: start;
    min-height: 100vh;

    font-family: var(--ff-primary);
    font-weight: var(--fw-400);

    background-color: white;
}

h1,
h2,
h3 {
    font-weight: var(--fw-700);
}

/* utilities */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
    /*background: hsl(var(--clr-primary-400));*/
    background: white;
}
.bg-secondary-400 {
    background: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
    background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
    background: hsl(var(--clr-neutral-100));
}

.text-neutral-100 {
    color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
    color: #05004E;
    font-weight: 550;
    /*color: hsl(var(--clr-secondary-400));*/

}
.border-primary-400 {
    border: 2px solid #a775f1;
}

.leaflet-popup-content {
    margin: 0.2rem 20px 0.2rem 0.2rem;
    line-height: 1.3;
    font-size: 1.08333em;
    min-height: 1px;
    /*line-height: 1.3;
    font-size: 1.08333em;
    min-height: 1px;*/
}

.marker-btn{
    border-radius: 0.5rem;
    background-color: #E7EAEF;
    width: fit-content;
    border: none;
    display: inline-block;
    margin-inline: auto;
    text-align: center;
    z-index: 50;
}

/* components */
.location-not-chosen {
    grid-template-areas:
    "one one one one"
    "two two two two";
    #the-map {
        width: 100%;
        height:600px;
        transition: height 2s ease;

    }
}

.location-chosen {
    grid-template-areas:
    "one one one one"
    "two three four four"
    "five five five five";
    #the-map {
        width: 100%;
        height:350px;
        /*transition: width 2s ease, height 0.1s ease-in*/
    }
}
.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;

    padding: 2rem;
    width: min(95%, 90rem);
    transition: width 2s ease;
    margin-inline: auto;
    border-collapse: collapse;
    background-color: hsl(var(--clr-neutral-200));
    border-radius: 0.5rem;
}

.testimonial {
    font-size: var(--fs-400);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);

    transition: width 2s ease;
}

.testimonial:nth-child(1) {
    grid-area: one;
    padding: 0rem;
}


.testimonial:nth-child(2) {
    grid-area: two;
    padding: 0.5rem;
    transform-origin: top left;
    /*width: calc(100%);*/
    transition: width 20s ease;
    /*transform: scale(4.2,1.75);  Adjust the scale value as needed */
    z-index: 10;
}

.dashboard-info{
    display: none;
}
.testimonial:nth-child(3) {
    grid-area: three;
}
.testimonial:nth-child(4) {
    grid-area: four;
    th:nth-child(2), td:nth-child(2){
        width: 100%;
    }
}
.testimonial:nth-child(5) {
    grid-area: five;
}

.testimonial:nth-child(6) {
    grid-area: six;
}

.testimonial:nth-child(7) {
    grid-area: seven;
}

/*@media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four";
    }
}

@media screen and (min-width: 38em) {
    .testimonial-grid {
        grid-template-areas:
     'one one'
     'two five'
     'three five'
     'four four';
    }
}
*/

@media screen and (max-width: 1530px) {
    .location-chosen {
        grid-template-areas:
      "one one one"
      "two two three"
      "four four four"
      "five five five";
        #the-map {
            width: 100%;
            height:375px;
            /*transition: width 2s ease, height 2s ease*/

        }
    }
    .grid-item {
        padding: 0.2rem;
    }
}

@media screen and (max-width: 800px) {
    .location-chosen {
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five";
        gap: 10px; /* Add gap between rows if needed */
        width: auto;
    }
    /*.testimonial:nth-child(2) {
        grid-area: two;
    }*/
    #the-map {
        width: auto;
        height: 200px;
        /*transition: width 2s ease, height 2s ease*/
    }
}

.testimonial:not(:nth-child(2)) img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
}

.testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
}

.testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
}

.testimonial > p:last-of-type {
    opacity: 0.7;
}

/*MY ADDED*/
.flexing {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.first {
    font-size: var(--fs-500);
    flex: 1 1 auto;
    opacity: 0.7;
    color: black;
    min-width: 200px; /* Adjust as needed */
    margin-bottom: 10px;
}

.search {
    display: flex;
    justify-content: flex-start; /* Align left when wrapped */
    gap: 1rem;
    flex-wrap: wrap;
    flex: 0 1 auto; /* Allow shrinking but do not force grow */
    min-width: 200px; /* Adjust as needed */
}






.hover-map-country{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: white;
    opacity: 90%;
    border: 1px solid #ccc;
    border-radius: 10px; /* Curved edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Small shadow */
    z-index: 1000; /* Ensure it appears above the map */
}

.selectLocation{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 6 equal columns */
    grid-template-rows: repeat(3, 1fr); /* Creates 2 equal rows */
    gap: 10px; /* Optional: Adds space between the grid items */
    margin-top: 5px;
    max-height: 80%;
}
.grid-item {
    /*padding: 20px;*/
    text-align: left;
    white-space: nowrap;
    border-radius: 5px;
    /*aspect-ratio: 1 / 1;*/
    width: auto;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
}

.grid-item img{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

}

.grid-item-content {
    color: #425166;
    line-height: 1.2;
    font-weight: lighter;
}

.grid-item-content span:nth-child(1) {
    color: #1D4676;
    font-weight: bold;
    font-size: 2rem;
}

.grid-update span:nth-child(1){
    margin-top: 2px;
    font-size: 0.7rem;
    color: #4079ED;
}

.grid-item:nth-child(1) {
    background-color: #FFE2E5;
}
.grid-item:nth-child(2) {
    background-color: #FFF4DE;
}
.grid-item:nth-child(3) {
    background-color: #DCFCE7;
}
.grid-item:nth-child(4) {
    background-color: #F3E8FF;
}
.grid-item:nth-child(5) {
    background-color: #E2E7FF;
}
.grid-item:nth-child(6) {
    background-color: #FFE2E5;
}

.scroll{
    width: 100%;
    max-height: 250px;
    /*height: calc((100% - 20px));*/ /* Adjusted for the height of the text and padding USE REM VARIABLE */
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    border-bottom: 1px solid #E7EAEF;
    width:100%;
    /*width: 100%;*/
    /*margin-top: 10px;*/

    /*max-height: 20px;*/

}

/*th:nth-child(2), td:nth-child(2){
    width: 100%;
}*/

th,
td{
    text-align: left;
    padding-right: 2rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #E7EAEF;
}

th{
    color: #737791; /*GET VARIABLE NAME FROM A ROOT FILE*/
    font-weight: 200;
    font-size: 14px;
    top: 0px;
    /*top: 25px;*/
    position: sticky;
    background: white;
    z-index: 5;
}


td{
    color: #000;
    padding-top: 0.3rem;
    font-weight: lighter;
}

#Comment-Body{
    vertical-align: top;
}

.view-more-button{
    white-space: nowrap;
    color: green;
    text-align: left;
    border: none;
    background-color: transparent; /* Make the button background transparent */
    border-bottom: 1px solid green;
    width: auto;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
}

.view-more-button:hover{
    color: #4079ED; /* Make the button background transparent */
    border-bottom: 1px solid #4079ED;
}


.choose-Projects{
    height:300px;
    overflow-y: auto;
}

.grid-containerx {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5rem);
    gap: 0.3rem;

}
.grid-itemx {
    box-sizing: border-box;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: #4CAF50;*/
    color: black;
    /*width: 5rem;
    position: relative;
    box-sizing: border-box;
    height: 5rem;
    display: flex;



    font-size: 1rem;*/





}
.grid-itemx span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}


.checked{
    accent-color: green;
    background-color: #DCFCE7;
    border: 1px solid #DCFCE7;
}

.not-checked{
    border: 1px solid #E7EAEF;
    background: none;
    box-sizing: border-box;

}

/**REPORT PDF STYLES*****/
.img-report{
    scale: 0.5;
    transform-origin: bottom left;
}

#map-image{
    width: 100%;
    border: 1px solid #E7EAEF;
    padding: 10px;
    border-radius: 5px;
}

.block{
    display: none;
}

.ProjectContainer {
    border: 1px solid #E7EAEF;
    margin: 20px;
    padding: 1rem;
    width: 595px;
    margin-inline: auto;/*THIS CENTRES IT*/
    color: #05004E;
}

.Title{
    font-weight: bold;
    font-size: 16px;
}

.Title-Content{
    font-weight: 200;
    font-size: 16px;
}

.TableName{
    font-size: 16px;
}



.ProjectContainer table{
    border-collapse: collapse;
    margin-top: 0.3rem;
    margin-bottom: 1rem;

    padding-top: 2rem;
    padding-bottom: 0.1rem;

}

.ProjectContainer tr{
    vertical-align: top;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
}

.ProjectContainer #ProjectTable thead{
    white-space: nowrap;
}

.ProjectContainer th{
    text-align: left;
    padding-right: 2rem;
    background: #E7EAEF;
    border-collapse: collapse;
    color: #05004E;
    font-weight: bold;
    font-size: 12px;

}

.ProjectContainer td{
    text-align: left;
    padding-right: 2rem;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    border-bottom: 1px solid #E7EAEF;
}

.low-rating,
.mid-rating,
.high-rating{
    align-items: center;
    justify-content: center;
    display: flex;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 16px; /* Text size*/
    margin: 2px;
    /* font-weight: bold;*/
}

.low-rating{
    background-color: #FF97A2;
    color: #DD0909; /* Text color */

}

.mid-rating{
    background-color: yellow;
}

.high-rating{
    background-color: #DCFCE7;
    color: #0DBB33;
}

.open,
.closed,
.completed{
    text-align: center;
    display: inline-block;
    width: 100px;
    border-radius: 1rem;
    padding: 0.1rem 1rem;
}

.open{
    background-color: #DCFCE7;
    color: #0DBB33;
    /*padding: 0.1rem 1rem 0.2rem;*/
}


.closed{
    background-color: #FF97A2;
    color: #DD0909; /* Text color */
    /*padding: 0.1rem 1rem 0.15rem;*/
}

.completed{
    background-color: #A8CFEB;
    color: #3496DC; /* Text color */
    /*padding: 0.1rem 1rem 0.2rem;*/
}


#remove-background{
    background: none;
}
.ProjectContainer tr>*{
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

}
.report{
    width: 595px;
}
.report .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Creates 6 equal columns */
    grid-template-rows: repeat(2, 1fr); /* Creates 2 equal rows */
}

.report .flex {
    /*flex-direction: column;*/
    width: 100%;
}

/*@media print {
    .report {
        width: 100%;
        page-break-inside: avoid;
    }

}*/
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 0 auto;
    box-sizing: border-box;
    background: white;
    page-break-after: always;
}
.content {
    width: 100%;
}
.element {
    margin-bottom: 10px;
}

/******************************************************************************/
/*****************************ACCORDIAN STYLES*********************************/

/* styles.css */
/* styles.css */

/* styles.css */
.overlay-content {
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#accordion{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.accordion-main-container {
    /*height: 100vh; /* Use viewport height for the wrapper */
    margin: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: #05004E;
    display: flex;
    /*position: absolute;*/

}

.options{
    display: flex;
    flex-direction: row;
}


.options button{
    height: fit-content;
    background: transparent;
    border: none;
    border-radius: 0.3rem;
    display: flex;
}
.options button:nth-of-type(1){
    margin-right: 20px;
    outline: 1px solid #E7EAEF;
    margin-top: 5px;
    vertical-align: middle;
    width: 80px;
}

.options button:nth-of-type(1) img{
    margin-top: 3px;
    margin-right: 3px;
}

.options button:nth-of-type(2){
    padding: 0.2rem 0.4rem; /* Top and bottom=0.2, left and right=0.4 */

}

.options button:nth-of-type(2):hover{
    background-color: #FFE2E5;
}

.options button:nth-of-type(1):hover{
    background: hsl(0, 0%, 95%);
}

.accordion {
    width: 100%;
    /*max-width: 80%;*/
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 1em;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-item:not(:first-child) {
    margin-top: 1rem;
}


.accordion-trigger {
    width: 100%;
    background: none;
    border: none;

    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
    display: flex;
}

.flex-push{
    flex: 1;
    text-align:left;
}

.accordion-trigger svg {

}
.accordion-trigger:hover {
    background: #e1e1e1;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0.1em;
    /*background: #fff;*/
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.accordion-content.show {
    max-height: fit-content; /* Adjust this value to the expected content height */
    padding: 0.5em 0.1em;
    /*padding-top: 15px;*/
    margin-top: -5px;
}

.accordion-trigger .show{
    transform: rotate(180deg);
}

.accordion {

}

#forProjects{
    margin-top: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}


.accordion-container {
    border-collapse: collapse;
    overflow-x: scroll;
    margin-bottom: 1rem;
}

.notProjectsAccordion{
    padding-bottom: 0.2rem;
}

.accordion-container th, .accordion-container td{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}


.accordion-container th{
    text-align: left;
    padding-right: 2rem;
    background: #E7EAEF;
    border-collapse: collapse;
    color: #05004E;
    font-weight: bold;
    font-size: 12px;

}

.accordion-container td{
    vertical-align: center;
    text-align: left;
    padding-right: 2rem;
    border-collapse: collapse;
    color: #000000;
    font-size: 12px;
    border-bottom: 1px solid #E7EAEF;
}

